.tiles__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vector.svg);
    transition: opacity 0.5s;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}

.tiles__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.tiles__likes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

.tiles__like-count {
    margin: 3px 0 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 22px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}